* {
  color: #ffffff;
}

body {
  padding: 0px;
  margin: 0px;
}

/*
  Standards that can be overwritten in the settings tab.
*/
* {
  font-family: Helvetica, Arial;
  font-size: 18px;
}

body {
  background: #000000;
}

/*
  Grid classes.
*/
.grid {
  /* All grids will have this base class.
   * A grid is required to also have a position class.
    - A left and top position is also required, as well as a width and top. */
  padding: 10px;
}

.grid-absolute {
  position: absolute;
}

.grid-fixed {
  position: fixed;
}

.grid-sticky {
  position: -webkit-sticky;
  position: sticky;
}

/*
  Widget classes.
*/
.widget {
  /* All widgets will have this base class. */
  width: 100%;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 5px;
  border: 1px solid #1a1a1a;
}

.widget:not(:last-child) {
  margin-bottom: 5px;
}
